@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}

body{
    background-color: black !important;
    min-height:100bh;
    color:#fff !important;
    overflow-x:hidden;
}


.animate span{
    position:absolute;
    top:0px;
    left:40px;
    width:4px;
    height: 4px;
    background:white;
    border-radius: 50%;
    box-shadow:0 0 0 4px rgba(255,255,255,0.1),
     0 0 0 8px rgba(255,255,255,0.1),
     0 0 20px rgba(255,255,255,1);
    animation: star-animate 3s linear infinite;
}

.animate span::before{
    content:'';
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    width: 300px;
    height: 1px;
    background:linear-gradient(90deg, #fff,transparent);
}
.animate span:nth-child(1){
    top:0;
    right: 10px;
    animation-delay:0;
    animation-duration:1s;
}

.animate span:nth-child(2){
    top:0;
    right: 80px;
    left:initial;
    animation-delay: 0.2s;
    animation-duration:3s;
}

.animate span:nth-child(3){
    top:80px;
    right: 10px;
    left:initial;
    animation-delay: 0.4s;
    animation-duration:2s;
}

.animate span:nth-child(4){
    top:0px;
    right: 180px;
    left:initial;
    animation-delay: 0.6s;
    animation-duration:1.5s;
}

.animate span:nth-child(5){
    top:0px;
    right: 400px;
    left:initial;
    animation-delay: 0.8s;
    animation-duration:2.5s;
}

.animate span:nth-child(6){
    top:0px;
    right: 600px;
    left:initial;
    animation-delay: 1s;
    animation-duration:3s;
}

.animate span:nth-child(7){
    top:300px;
    right: 10px;
    left:initial;
    animation-delay: 1.2s;
    animation-duration:1.75s;
}

.animate span:nth-child(8){
    top:0px;
    right: 700px;
    left:initial;
    animation-delay: 1.4s;
    animation-duration:1.25s;
}

.animate span:nth-child(9){
    top:0px;
    right: 1000px;
    left:initial;
    animation-delay: 0.75s;
    animation-duration:2.25s;
}

.animate span:nth-child(10){
    top:0px;
    right: 450px;
    left:initial;
    animation-delay: 2.75s;
    animation-duration:2.25s;
}

@keyframes star-animate{
    0%{
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    backdrop-filter:blur(20px);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border: dotted;
    padding:2px 2%;
    border-radius:6rem;
}

.navbar a{
    font-size: 18px;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.actrive{
    color:white;
}

 section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
 }

.home {
    display:flex;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
}
.home-Content h3 {
    font-size:3.2rem;
    font-weight:700;
}

.home-Content {
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 20;

}

.typewrite{
    color:black;
    -webkit-text-stroke: .7px white;
}

.social-media a{
    display:inline-flex;
    width:3rem;
    height: 3rem;
    border: .2rem solid black;
    border-radius: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    align-items: center;
    justify-content: center;
    color: #f00;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


.social-media a:hover {
    background: white;
    color:white;
    border: .2rem solid white;
    box-shadow: 0 0 50px white;
    -webkit-filter: none;
    filter: none;
}

.rv{
    border: .2rem solid white;
    color:white;
    border-radius: 2rem;

    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    font-size:1rem;
    font:bold;
    font-size:1.6rem;
    letter-spacing:.1rem;
    font-weight: 600;
    text-decoration: none;
}
.rv:hover{
    background-color: white;
    color:black;
    box-shadow: 0 0 50px white;
}


.bg{
    position:absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles{
    position:relative;
    display:flex;
}

.bubbles span{
    position: relative;
    min-width: 30px;
    height: 30px;
    background-color: #19E6BC;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #19E6BC44,
    0 0 50px #19E6BC,
    0 0 100px #19E6BC;
    margin: 0 4px;
    animation: animate 15s linear infinite;
    animation-duration: calc(75s / var(--i));
}

@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    80%{
        opacity: 0;
    }
    100%{
        transform:translateY(-10vh) scale(1);
        opacity:0;
    }
}

.bubbles span:nth-child(even){
    background-color: #E61943;
    box-shadow: 0 0 0 10px #E6194344,
    0 0 50px #E61943,
    0 0 100px #E61943;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:2rem;
    background:black;
    padding-bottom:6rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 0rem;
    text-align:center;
}

.about-img{
    position:relative;
    width:25rem;
    height:25rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 100%;
    border-radius: 50%;
    border: .2rem solid;
}

.about-content{
    text-align:center;
    font-size:1rem;
}

.profolio{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    background-color: black;
    padding-bottom:6rem;
}

.card1{
    color:white;
    text-align:left;
    border: 5px solid white;
    width: 100%;
    padding:20px;
    border-radius:3rem;
}

.card1 p{
    padding-top:1rem;
}

.card1 h5{
    font-size:1rem;
}

.projects {
    height: 100%; width:100%;
    display: flex;
}

.projects a{
    padding:3rem;
}

.projects h3{
    text-align:center;
    justify-content: center;
    display: flex;
}
.time{
    margin: auto;
    margin-top: 0%;
}



.project-content{
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    align-items:center;
    justify-content:center;
}

.button{
    margin:2rem;
    
}



.project-content a{
    text-decoration:none;
    color:white;
    border-radius:2rem;
    border:solid;
    padding:2px 2%;
    margin:5rem
}

.button a:hover{
    background: white;
    border: .2rem solid white;
    box-shadow: 0 0 50px white;
    color:black;
}

.project-content p{
    padding-top: 1rem;
}

.project-content img{
    max-height: 500px;
    max-width:auto;
}



.project-Header{
    font-size: 2rem;
    text-align:center;
}

.proect-Subtitle{
    padding:1rem;
    text-align:center;
}


video {
    width: 100%;
    height: auto;
  }
  * {box-sizing:border-box}


  .slideshow-container 
  { max-width: 600px;
   position: relative;
    margin: auto; 
    margin-top: 3%;
    }
  
  
  .mySlides {
    display: none;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  .text {
    color: #f7f3f398;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  .try{
    padding: 35px;
  }
  
  .slaidimg{
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }


  .p4 a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15%;
    text-align: center;
  }